<div class="playlist-container">
  <header class="playlist-info">
    <em>{{episodes.length}} episodes</em>
    <small>Duration tk</small>
  </header>
  <ol>
    <li class="playlist-entry" (click)="playlistItemClicked.emit(episode.index)" *ngFor="let episode of episodes">
      <small>
        {{ episode.index + 1 }}
      </small>
      <div class="entry-img">
        <img class="ep-art" [src]="episode.artworkUrl || feedArtworkUrl"/>
        <img  *ngIf="(episode.index) == episodeIndex && playing" class="pauseButton" src="/assets/images/large-semi-transparent-pause.svg" alt="" />
      </div>
      <div class="entry-title">
        <h2>
          {{ episode.title }}
        </h2>
        <div>
          {{ subtitle }}
        </div>
      </div>
      <small>
        duration tk
      </small>
    </li>
  </ol>
