<div class="playlist-container">
  <header class="playlist-info">
    <em>{{episodes.length}} episodes</em>
    <small>Duration tk</small>
  </header>
  <ol class="playlist-list">
    <li class="playlist-entry" *ngFor="let episode of episodes">
      <small class="index">{{ episode.index + 1 }}</small>
      <!-- <img *ngIf="episode.artworkUrl" [src]="episode.artworkUrl" /> -->
      <div class="title-block">
        <h2 class="title">
          {{ episode.title }}
        </h2>
        <div class="subtitle">
          {{ subtitle }}
        </div>
      </div>
      <small class="duration">
        duration tk
      </small>
    </li>
  </ol>
