<div class="playlist-container">
<h1>PLAYLIST COMPONENT</h1>
  <header class="playlist-info">
    <p>{{episodes.length}} episodes</p>
    <p>Duration of total playlist TK</p>
  </header>
  <ul class="playlist-list">
    <li class="playlist-entry" *ngFor="let episode of episodes; let i = index">
      <p class="playlist-position">
        {{ i + 1 }}
      </p>
      <img *ngIf="episode.artworkUrl" [src]="episode.artworkUrl" />
      <div class="title-container">
        <div class="title">
          {{ episode.title }}
        </div>
        <div class="subtitle">
          {{ episode.subtitle }}
        </div>
      </div>
      <p class="duration">
        duration tk
      </p>
    </li>
  </ul>
